<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: header}">
    <title>Logs de Transações</title>
</head>
<body>
<div class="container mt-5">
    <h2>Histórico de Transações</h2>
    
    <table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Data</th>
            <th>Pagador</th>
            <th>Recebedor</th>
            <th>Valor</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        <tr th:each="tx : ${transacoes}">
            <td th:text="${tx.id}"></td>
            <td th:text="${tx.createdAt}"></td>
            <td th:text="${tx.pagadorId}"></td>
            <td th:text="${tx.recebedorId}"></td>
            <td th:text="'R$ ' + ${tx.amount}"></td>
            <td th:text="${tx.status}"></td>
        </tr>
    </tbody>
</table>
</div>
</body>
</html>
